/* HTML elements */
* {
  border:0;
  font:inherit;
  font-size:100%;
  margin:0;
  padding:0;
  vertical-align:baseline;
}

body {
  background-color:#f2f2f2;
  color:#666;
  font-family:'Droid Sans',Tahoma,Arial,sans-serif;
  font-size:13px;
  line-height:1.6em;
}

a {
  color:#a54569;
  text-decoration:none;
}

a:hover {
  color:#333;
  text-decoration:none;
}

a img {
  border:none;
}

h1,
h2,
h3,
h4 {
  clear:left;
  color:#5c5a5a;
  font-family:'Yanone Kaffeesatz', 'Yanone Kaffeesatz Regular';
  font-weight:400;
  margin:.7em 0;
}

h1 {
  font-size:2.6em;
}

h2 {
  font-size:2.4em;
  line-height: 2.4em;
}

h3 {
  font-size:1.9em;
}

p,
ul {
  margin:0 0 20px;
}

#page {
  background-color:#fff;
  margin:35px auto;
}

/* Top links menu */
.region-top-links
 {
  background-color:#fafafa;
  padding:0 30px;
}

.region-top-links ul
 {
  list-style:none;
  margin:0;
  text-align:right;
}

.region-top-links ul li
 {
  display:inline-block;
  font-size:11px;
  margin:15px 0 12px 15px;
}

.region-top-links ul li a
 {
  color:#797777;
}

.region-top-links ul li a:hover
 {
  color:#2c2b2b;
  text-decoration:none;
}

.region-featured .block,
.region-top-links .block {
  margin: 0;
}
/* Layout IDs */

.front #content {
  padding:15px 30px;
  background-color:#fafafa;
}
.not-front #content {
  padding: 0;
  margin-top: 0;
  background-color:#fafafa;
}

.front #main-wrapper,
#header {
  position:relative;
  background:url(../images/shadow.png) top center no-repeat;
}
#name-and-slogan {
  float:left;
  margin: 0 0 0 30px;
  /*margin:30px 0 10px 30px;*/
  padding: 8px 0;
}
h1#site-name {
  font-size:40px;
  color:#777;
  margin:0;
  padding:0;
  display: inline-block;
  vertical-align: top;
}

#logo {
  float: none;
}

#site-name a:link, 
#site-name a:visited {
  color: #A54569;
}
/* Main navigation menu */
#navigation
 {
  float:right;
  font-family:'Droid Sans',Verdana,Tahoma,sans-serif;
  text-align:center;
}

#navigation ul.links,#navigation ul
 {
  list-style:none;
  margin:30px 30px 26px 20px;
}

#navigation ul li
 {
  background:none!important;
  display:inline-block;
  height:auto;
  line-height:25px;
  margin-bottom:0;
  margin-left:25px;
  position:relative;
  text-align:right;
}

#navigation ul li a
 {
  color:#797777;
  display:block;
  font-size:12px;
  padding-top:0;
  text-transform:uppercase;
}

#navigation ul li a:hover
 {
  color:#111;
}

#navigation ul li a.active-trail
 {
  color:#000;
}

/* Additional classes */

body.sidebar-first .front #content {
  margin:0;
  width: 900px;
  padding:15px 30px;
  background-color:#fafafa;
}
.front #content {
  float: none;
}

#bottom_section {
  padding:15px 30px;
  background-color:#fff;
  background:url(../images/shadow.png) top center no-repeat;
}

.bottom_left,
.bottom_middle {
  float:left;
  width:33.3%;
}
.bottom_right {
  float:right;
  width:33.3%;
}

.bottom_left .region {
  margin:5px 30px 5px 0;
}
.bottom_middle .region {
  margin: 0;
}
.bottom_right .region {
  margin:5px 0 5px 30px;
}

#footer {
  clear:both;
  background-color:#fafafa;
  background:url(../images/shadow.png) top center no-repeat;
}
#footer p,
#footer .block {
  color:#777;
  font-size:12px;
  margin:0;
  padding:15px 30px;
  text-align:center;
}
#footer .credit {
  padding-top: 0;
}
#footer .block {
  padding-bottom: 0;
}
#footer a {
  color:#777;
}
#footer a:hover {
  color:#333;
}

/* NODE formatting - front page */
.left {
  float: left;
}
.right {
  float: right;
}
#content .node img {
  padding:2px;
  border: 2px solid #A54569;
  margin: 5px;
}
#content .node .user-picture img {
  float: right;
  padding:2px;
  border: 2px solid #A54569;
}
.field-name-field-tags .field-label,
.field-name-field-tags .field-items,
.field-name-field-tags .field-items div {
  display: inline;
}
.field-name-field-tags .field-items div {
  padding-right: 10px;
}
.not-front .sidebar {
  margin-top: 0;
}
#page {
  font-size: 1em;
}
#content .section,
.sidebar .section {
  padding: 0 30px;
}

#user-login-form,
#comment-form,
#search-block-form {
  background-color: #eaeaea;
  padding: 5px;
  border-radius: 5px;
}
#user-login-form input[type=password],
#user-login-form input[type=text],
#comment-form select,
#comment-form textarea,
#comment-form input[type=text],
#search-block-form input[type=text] {
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffff;
}
#search-block-form input[type=text].form-text {
  width: 11.5em;
}
#user-login-form input[type=submit],
#comment-form input[type=submit],
#search-block-form input[type=submit]  {
  padding: 5px;
  border-radius: 5px;
  background-color: #A54569;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  filter: dropshadow(color=#000000, offx=2, offy=2); 
}
#comment-form input[type=submit] {
  margin: 0 10px;
}
#user-login-form input[type=submit]:hover,
#comment-form input[type=submit]:hover,
#search-block-form input[type=submit]:hover  {
  background-color: #004569;
}
#user-login-form label {
	display: inline-block;
}