
/* Fixed layout; standard sidebar placement */

#page, #page-wrapper, .region-page-closure, body.no-sidebars #content {
  width: 960px;
}

div.region-sidebar-first {
  width: 320px;
  margin-right: -320px;
}

div.region-sidebar-second {
  width: 320px;
  margin-left: 640px;
  margin-right: -960px;
}

#content {
  margin-right: -960px;
}

body.sidebar-first #content {
  width: 640px;
  margin-left: 320px;
  margin-right: -960px;
}

body.sidebar-second #content {
  width: 640px;
  margin-right: -640px;
}

body.two-sidebars #content {
  width: 320px;
  margin-left: 320px;
  margin-right: -640px;
}